<h3><%= t('.title') %></h3>
----------
<%= t('.name') %>: <%= @name %><br>
<%= t('.email') %>: <%= @email %><br>
------------------------------------
<%= t('.event')%> <%= @event.title %><br>
<%= t('.datetime')%> <%= @event.datetime %><br>
<%= t('.owner')%> <%= @event.user.name %><br>