<h3><%= t('.title') %></h3>
----------
<p><%= t('.name') %>: <%= @name %></p>
<p><%= t('.email') %>: <%= link_to @email, "mailto: #{@email}" %></p>
</hr>

<%= t('.event') %>
<h3><%= @event.title%></h3>

<%= t('.author') %>
<h4><%= l @event.datetime %></h4>

<%= t('.owner') %>
<h4><%= @event.user.name%></h4>